{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Volt</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Transactions</li>
              </ol>
          </nav>
          <h2 class="h4">All Orders</h2>
          <p class="mb-0">Your web analytics dashboard template.</p>
      </div>
  </div>
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover" id="users-table">
          <thead>
              <tr>
                  <th class="border-gray-200">Username</th>						
                  <th class="border-gray-200">Email</th>
                  <th class="border-gray-200">First Name</th>
                  <th class="border-gray-200">Last Name</th>
                  <th class="border-gray-200">Date Joined</th>
                  <!-- <th class="border-gray-200">Status</th>
                  <th class="border-gray-200">Action</th> -->
              </tr>
          </thead>
          <tbody>
              {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                


              {% endfor %}
              <!-- Item -->
              <!-- <tr>
                  <td>
                      <a href="#" class="fw-bold">
                          456478
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">Platinum Subscription Plan</span>
                  </td>
                  <td><span class="fw-normal">1 May 2020</span></td>                        
                  <td><span class="fw-normal">1 Jun 2020</span></td>
                  <td><span class="fw-bold">$799,00</span></td>
                  <td><span class="fw-bold text-warning">Due</span></td>
                  <td>
                      <div class="btn-group">
                          <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="icon icon-sm">
                                  <span class="fas fa-ellipsis-h icon-dark"></span>
                              </span>
                              <span class="visually-hidden">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu py-0">
                              <a class="dropdown-item rounded-top" href="#"><span class="fas fa-eye me-2"></span>View Details</a>
                              <a class="dropdown-item" href="#"><span class="fas fa-edit me-2"></span>Edit</a>
                              <a class="dropdown-item text-danger rounded-bottom" href="#"><span class="fas fa-trash-alt me-2"></span>Remove</a>
                          </div>
                      </div>
                  </td>
              </tr> -->
                     
          </tbody>
      </table>
      
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
