{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Volt</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Transactions</li>
              </ol>
          </nav>
          <h2 class="h4">All Orders</h2>
          <p class="mb-0">Your web analytics dashboard template.</p>
      </div>
        
      <div class="btn-toolbar mb-2 mb-md-0">
        <!-- <a href="" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" data-url="{% url 'user_create' %}">
            <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
            Create User
        </a> -->
        <button type="button" class="btn btn-primary js-create-user" data-url="{% url 'user_create' %}">
            <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
            Add User
          </button>
      </div>
  </div>
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="display compact" id="users-table">
          <thead>
              <tr>
                  <!-- <th class="border-gray-200"><input class="form-check-input" type="checkbox" value="" id="checkall"></th>						 -->
                  <th class="border-gray-200">ID</th>						
                  <th class="border-gray-200">Username</th>						
                  <th class="border-gray-200">Email</th>
                  <th class="border-gray-200">First Name</th>
                  <th class="border-gray-200">Last Name</th>
                  <th class="border-gray-200">Date Joined</th>
                  <th class="border-gray-200">Action</th>
              </tr>
          </thead>
          <tbody>
            {% include 'includes/partial_user_list.html' %}
          </tbody>
      </table>
  </div>
  <!-- modal divs here -->
  <div class="modal fade" id="modal-form-user" tabindex="-1" role="dialog" aria-labelledby="modal-form-user" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

          </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#users-table').DataTable();
    } );

    $('#users-table').DataTable( {
        columnDefs: [
            {
                targets: "_all",
                className: 'dt-center'
            }
        ]
    } );

    
</script>
{% endblock javascripts %}

