<form method="post" action="{% url 'user_delete' user.id %}" class="mt-4 js-user-delete-form">
                                
    {% csrf_token %}      
  <div class="modal-body p-0">
    <div class="card p-3 p-lg-4">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h4">Confirm Deletion </h1>
            <br />
              <p>
                Are you sure you want to delete the user <strong>{{ user.username }}</strong>?                                
              </p> 
        </div>
          <div class="d-grid">
              <button type="submit" name="delete" class="btn btn-danger">Delete</button>
          </div>
      </form>
        
    </div>
</div>